.App {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}

.AddingPassword{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: lightblue;
  height: 300px;
  border-radius: 20px;
  margin-top: 60px;

}

.AddingPassword input,button{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 20px;
  padding-left: 10px;
}

button{
  cursor: pointer;
}

button:hover{
  background-color: aliceblue;
}

.Showpassword{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.password{
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 10px;
  font-size: 15px;
 
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.show{
  background-color: rgb(6, 240, 6);
}

.show:hover{
  background-color: rgb(3, 144, 3);
  color: white;
}